/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* İsteğe bağlı ufak iyileştirmeler */
:root { 
    color-scheme: dark;
    --border: #b1b1b1;
    --panel: #7c7c7c;
    --panel-2: #101314;
    --shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    --background: #cccccc;
}

.dark {
  --border: #27272a;
  --panel: #0b0d0e;
  --panel-2: #101314;
  --shadow: 0 0 12px rgba(0, 255, 153, 0.1);
  --background: #0a0a0a;
}

html { scroll-behavior: smooth; }

@keyframes blink { 50% { opacity: 0; } }
.cursor.blink { display:inline-block; animation: blink 1s step-start infinite; color:#22c55e; }
